/* Order of Stylesheet:
Default Styling:
    Root, All, Body, Pseudo Classes
    Element, Class, ID
Breakpoints Small to Large:
    Element, Class, ID
*/
:root {
    --red-1: #E6563B;
    --orange-1: #EB9D3A;
    --green-1: #7CB06C;
    --blue-1: #00ABA9;
    --lightgrey: #f0f0f0;
    --grey: #e6e6e6
}
*{
    box-sizing: border-box;
}
body {
    background-color: var(--lightgrey);

}
/* Element Styles */
li,p,a,div {
    font-family: Abel, sans-serif;
    text-decoration: none;
    color: black;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Anton, sans-serif !important;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 32px;
}
h5 {
    font-size: 28px;
}
h6 {
    font-size: 24px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0 3em;
}
li{
    display: inline-block;
}
.content-main{
    max-width: 992px;
    margin: 0 auto;
}
.title{
    margin-top: .25em !important;;
    margin-bottom: .5em !important;;
}
.works{
    display: inline-block;
}
.img-fix{
    object-fit: cover;
    width:100%;
    height: 81.25%;
}
.circle {
    height: 104px;
    width: 104px;
    border-radius: 52px;
    border: 6px solid white;
    text-align: center;
    line-height: 3.75em;
    color: white;
}
.sm-circle{
    height: 18px;
    width: 18px;
    border-radius: 9px;
    border: none;
    text-align: center;
    line-height: 1.45em;
    font-size: 14px;
}
.red {
    background-color: var(--red-1);
}
.orange {
    background-color: var(--orange-1);
}
.green {
     background-color: var(--green-1);
 }
.blue {
      background-color: var(--blue-1);
  }
.column-border {
    border: 4px solid white;
    border-radius: 2px;
    display: flex;
    width: 16%;
}

.img-last{
    height: 60px;
    width: 60px;
    object-fit: fill;
}
.img-thumbnail {
    background-color: var(--grey);
}
#header-row{
    background-color: white !important;
    height: 64px;
    width: 100%;
    margin-top: 3em;
}
#logo-col{
    display: flex;
    justify-content: center;
}
#logo {
    height: 115px;
    overflow: auto;
    margin: -1.5em auto;
}
#co-name{
    font-size: 32px;
    text-align: center;
    margin-top: .5em;
}
#title {
    margin-top: 7em;
    text-align: center;
    justify-content: center;
}
#circles {
    justify-content: center;
}
#tweet {
    color: #0399e8;
}
@media (max-width: 442px) {
#circle1, #circle3 {
    margin-left: .5em;
}
#circle2, #circle4 {
    margin-right: .5em;
}
}
@media (max-width: 576px) {
.works{
    max-width: 100%;
}
.circle{
    margin: 0.2em 0.25em;
}
#circle1, #circle3{
    margin-left: 4.5em;
}
#circle2, #circle4 {
    margin-right: 4.5em;
}
}
@media (min-width: 576px) {
ul {
    justify-content: center;
}
#circles {
    justify-content: space-evenly;
    max-width: 80%;
    margin: 0 auto;
}
#nav-holder{
    margin-top: -8em;
}
#nav-holder li {
    margin: 0 1em;
}
#nav-holder li:nth-child(2){
    margin-right: 5em;
}
#nav-holder li:nth-child(3){
    margin-left: 5em;
}
#title {
    margin-top: 5em;
}
#mid-hr{
    max-width: 66%;
}
}
@media screen and (min-width:768px) {
#header-row{
    align-content: center;
}
#co-name {
    margin-top: .25em;
    margin-left: -1.75em;
    text-align: left;
}
#circles {
    max-width: 768px;
}
/* Removing Small-Specific Margins for Nav Items*/
#nav-holder ul {
    justify-content: space-evenly;
    margin-right: 1em;
    margin-left: auto;
}
#nav-holder {
    margin-top: 1.5em;
}
#nav-holder li {
    margin: 0 1em;
}
#nav-holder li:nth-child(2){
    margin-right: 1em;
}
#nav-holder li:nth-child(3){
    margin-left: 1em;
}
/* Title Row Content */
#title {
    margin-top: 3em;
}
#mid-hr{
    max-width: 100%;
}
}